body {
  background: #c5baaf;
}

#top {
  background-color: #559cad;
}

nav a {
  background-color: olive;
  color: #ffffff;
}

a {
  color: black;
}
.first-header {
  color: #424b54;
}

.second-header {
  color: #b38d97;
}
.box {
  background: #afaaaa;
  display: inline-block;
  width: 200px;
  height: 200px;
}
