body {
  background: #b7d67c;
}

.main-header {
  background-color: #559cad;
  color: #d40639;
  height: 200px;
  width: 800px;
}

.main-header__domain {
  background-color: chartreuse;
  width: 800px;
  height: 100px;
  color:rgb(0, 102, 128)
}

.navigation {
  background-color: rgb(0, 102, 128);
  color: #ffffff;
  text-decoration: none;
}

.main-header__menu {

}

#top {
  background-color: #559cad;
}

nav a {

}


.about-me {
  background: #afaaaa;
  display: inline;
  width: 400px;
  height: 70px;
}





