body {
    background: #C5BAAF;
}

#top {
    background-color: #559CAD;
}

nav a {
    background-color: olive;
    color: #ffffff;
}

a {
    color: black;
}
.first-header {
    color: #424B54;
}

.second-header {
    color: #B38D97;
}
.box {
    background: #afaaaa;
    display: inline-block;
    width: 200px;
    height: 200px;
}